html {
	color-scheme: light dark;
}

body {
	font: 400 16px/1.15 var(--font-family);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	overflow: hidden;

	min-height: 100vh;

	background-color: var(--app-bg);
	background-image: linear-gradient(var(--gradient-bg) 1px, rgba(0, 0, 0, 0) 0),
		linear-gradient(90deg, var(--gradient-bg) 1px, rgba(0, 0, 0, 0) 0);
	background-size: 100px 100px;
}

.main {
	flex: 1;
}

.container {
	--padding: 15px;
	--width: 1400px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	padding: 0 var(--padding);
}

.overlay {
	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	opacity: 0;

	background-color: rgba(0, 0, 0, 0.5);
	transition:
		background-color 300ms ease-in-out,
		opacity 300ms ease-in-out;
}

.burger {
	position: relative;
	text-align: left;
	display: none;
	pointer-events: initial;
	height: 30px;
	width: 30px;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	z-index: 3;
	border: none;

	@media screen and (max-width: 768px) {
		display: flex;
	}

	&.active span {
		background-color: transparent;
		transition: background-color 0.2s ease-out;

		&::before,
		&::after {
			transition:
				top 0.2s ease-out,
				transform 0.2s 0.2s ease-out;
			background-color: #222;
		}

		&::before {
			top: 0;
			transform: rotate3d(0, 0, 1, -45deg);
		}
		&::after {
			top: 0;
			transform: rotate3d(0, 0, 1, 45deg);
		}
	}

	span {
		position: absolute;
		top: calc(50% - 1px);
		left: calc(50% - 13px);
		display: block;
		height: 2px;
		width: 26px;
		transform-origin: 50% 50%;
		transition:
			0.2s ease-in-out,
			top 0.2s 0.2s ease-out,
			transform 0.2s linear;
		background-color: #222;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 26px;
			background-color: #222;
			transform-origin: 50% 50%;
			transition:
				0.2s ease-in-out,
				top 0.2s 0.2s ease-out,
				transform 0.2s linear;
		}
		&::before {
			top: 7px;
		}
		&::after {
			top: -7px;
		}
	}
}

svg {
	stroke: var(--black);
}

.theme-toggle svg {
	fill: var(--black);
}

.theme-toggle {
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	border-radius: 10px;
	@include hover {
		background-color: var(--gradient-bg);
	}

	&:active {
		background-color: var(--gradient-bg);
	}
}
